<div class="container-fluid mt-4">
    <div class="card">
        <div class="card-header">
            <h2 class="mb-0">Panel de Administración</h2>
        </div>
        <div class="card-body">


            <div class="container-fluid mt-4">

                <div class="row">
                    <div class="col-md-4">
                        <div class="card border-primary mb-3">
                            <div class="card-header bg-transparent border-primary">
                                <h5 class="card-title">Administrar Categorías</h5>
                            </div>
                            <div class="card-body text-primary">

                                <p class="card-text">Crear, editar y eliminar categorías de productos.</p>
                                <a  [routerLink]="['/dashboard/categorias']"   class="btn btn-outline-primary">Ir a Categorías</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card border-success mb-3">
                            <div class="card-header bg-transparent border-success">
                                <h5 class="card-title">Administrar Empleados</h5>
                            </div>
                            <div class="card-body text-success">

                                <p class="card-text">Agregar, modificar y eliminar información de empleados.</p>
                                <a [routerLink]="['/dashboard/empleados']"  class="btn btn-outline-success">Ir a Empleados</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card border-info mb-3">
                            <div class="card-header bg-transparent border-info">
                                <h5 class="card-title">Administrar Concesionarios</h5>
                            </div>
                            <div class="card-body text-info">

                                <p class="card-text">Gestionar información de los concesionarios.</p>
                                <a href="#" class="btn btn-outline-info">Ir a Concesionarios</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card border-warning mb-3">
                            <div class="card-header bg-transparent border-warning">
                                <h5 class="card-title">Generar Reportes</h5>
                            </div>
                            <div class="card-body text-warning">

                                <p class="card-text">Generar reportes de ventas, inventario, etc.</p>
                                <a href="#" class="btn btn-outline-warning">Ir a Reportes</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card border-danger mb-3">
                            <div class="card-header bg-transparent border-danger">
                                <h5 class="card-title">Administrar Usuarios</h5>
                            </div>
                            <div class="card-body text-danger">

                                <p class="card-text">Gestionar usuarios y sus permisos.</p>
                                <a href="#" class="btn btn-outline-danger">Ir a Usuarios</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
