<div class="container">
  <h2>Customer Form</h2>
  <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="firstName" class="form-label">Nombres:</label>
      <input type="text" class="form-control" id="firstName" formControlName="firstName"
        [class.is-invalid]="customerForm.get('firstName')?.invalid && customerForm.get('firstName')?.touched">
      <div class="invalid-feedback">First name is required.</div>
    </div>

    <div class="mb-3">
      <label for="lastName" class="form-label">Apellidos:</label>
      <input type="text" class="form-control" id="lastName" formControlName="lastName"
        [class.is-invalid]="customerForm.get('lastName')?.invalid && customerForm.get('lastName')?.touched">
      <div class="invalid-feedback">Last name is required.</div>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" formControlName="email"
        [class.is-invalid]="customerForm.get('email')?.invalid && customerForm.get('email')?.touched">
      <div class="invalid-feedback" *ngIf="customerForm.get('email')?.errors?.['required']">Email is required.</div>
      <div class="invalid-feedback" *ngIf="customerForm.get('email')?.errors?.['email']">Invalid email format.</div>
    </div>

    <div class="mb-3">
      <label for="phone" class="form-label">Celular:</label>
      <input type="text" class="form-control" id="phone" formControlName="phone"
        [class.is-invalid]="customerForm.get('phone')?.invalid && customerForm.get('phone')?.touched">
      <div class="invalid-feedback">Phone is required.</div>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>
